# ignore everything
/*
/*/

# ... but these:
!/.gitignore
!/alacritty/
# configuration of lazygit
!/jesseduffield/
/jesseduffield/lazygit/*
!/jesseduffield/lazygit/config.yml

!/zsh/
!/ranger/
/ranger/plugins/*
!README.md
!/zathura/
